    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">About me: </h1>
            <p class="col-md-8 fs-4"><h3>Hi! my name is Thomas and this is my first RoR project, which I wanted to dedicate to my great friend Hernan Britos, who encouraged me to get into this framework!
			(Framework which by the way, I found AMAZING, specially for its simplicity BUT YET powerful results!) I hope you can find this Friend list app nice and enjoy it!</h3>
<p></p>
			<h3>I am willing to listen at any kind of feedback so I can continue improving, this was only the beginning!</h3>
<br/><br/>
			<h1> Feel free to contact me!</h1>
<p></p>
			<h3>LinkedIn: https://www.linkedin.com/in/thomasereno/</h3>
<p></p>
			<h3>Github: https://github.com/TamikoSRN</h3></p>
        </div>
    </div>





